@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Noto Sans', sans-serif;
}

:root {
  --btn-bg: #FC5640;
  --list-items-color: #000000
}

[data-theme='dark'] {
  @apply bg-black;
  --list-items-color: #ffffffbb
}

.handwriting {
  font-family: 'Kalam', cursive;
  font-style: italic;
}

.my-container {
  @apply w-full xl:w-[1280px] mx-auto px-0
}

.my-btn {
  @apply py-2 uppercase font-semibold text-lg rounded-full bg-[var(--btn-bg)] px-8 text-white border-2 border-[var(--btn-bg)] hover:bg-transparent hover:border-[var(--btn-bg)] hover:text-[var(--btn-bg)] duration-300 disabled:bg-slate-400 disabled:border-slate-400 disabled:text-white
}

.login-btn {
  @apply py-2 uppercase font-semibold rounded-full bg-[var(--btn-bg)] px-10 text-white border-2 border-[var(--btn-bg)] hover:bg-transparent hover:border-[var(--btn-bg)] hover:text-[var(--btn-bg)] duration-300
}